{
  "exclude": ["tests/**", "node_modules/**", "!**/node_modules/**", "coverage/**", "examples/**", "browserify/**", "reports/**", "scripts/**", "testData/**", "instrumented/**", "**/test/**", "**/lib/**", "**/webTests/**", "gpii/node_modules/testing/**"]
}