{
  "include": [
     "**/*.js",
     "gpii/node_modules/**/*.js"
  ],
  "exclude": [
    "!**/gpii/node_modules/accessRequester/index.js",
    "!**/gpii/node_modules/accessRequester/src/accessRequester.js",
    "!**/gpii/node_modules/canopyMatchMaker/index.js",
    "!**/gpii/node_modules/canopyMatchMaker/src/CanopyMatchMaker.js",
    "!**/gpii/node_modules/canopyMatchMaker/src/CanopyMatchMakerUtilities.js",
    "!**/gpii/node_modules/contextManager/index.js",
    "!**/gpii/node_modules/contextManager/src/ContextManager.js",
    "!**/gpii/node_modules/contextManager/src/ContextManagerUtilities.js",
    "!**/gpii/node_modules/deviceReporter/index.js",
    "!**/gpii/node_modules/deviceReporter/src/DeviceReporter.js",
    "!**/gpii/node_modules/deviceReporter/src/DeviceReporterUtilities.js",
    "!**/gpii/node_modules/eventLog/index.js",
    "!**/gpii/node_modules/eventLog/src/eventLog.js",
    "!**/gpii/node_modules/eventLog/src/installID.js",
    "!**/gpii/node_modules/eventLog/src/metrics.js",
    "!**/gpii/node_modules/flatMatchMaker/index.js",
    "!**/gpii/node_modules/flatMatchMaker/src/FlatMatchMaker.js",
    "!**/gpii/node_modules/flowManager/index.js",
    "!**/gpii/node_modules/flowManager/src/BrowserChannel.js",
    "!**/gpii/node_modules/flowManager/src/CloudBasedFlowManager.js",
    "!**/gpii/node_modules/flowManager/src/FlowManager.js",
    "!**/gpii/node_modules/flowManager/src/FlowManagerRequests.js",
    "!**/gpii/node_modules/flowManager/src/GetUserToken.js",
    "!**/gpii/node_modules/flowManager/src/PCPChannel.js",
    "!**/gpii/node_modules/flowManager/src/SolutionsRegistryDataSource.js",
    "!**/gpii/node_modules/flowManager/src/UntrustedFlowManager.js",
    "!**/gpii/node_modules/flowManager/src/UntrustedSettingsDataSource.js",
    "!**/gpii/node_modules/flowManager/src/UntrustedSettingsGetHandler.js",
    "!**/gpii/node_modules/flowManager/src/UntrustedSettingsPutHandler.js",
    "!**/gpii/node_modules/flowManager/src/UserLogonStateChange.js",
    "!**/gpii/node_modules/flowManager/src/UserSave.js",
    "!**/gpii/node_modules/gpii-oauth2/gpii-oauth2-authz-server/index.js",
    "!**/gpii/node_modules/gpii-oauth2/gpii-oauth2-authz-server/src/AuthGrantFinder.js",
    "!**/gpii/node_modules/gpii-oauth2/gpii-oauth2-authz-server/src/AuthServer.js",
    "!**/gpii/node_modules/gpii-oauth2/gpii-oauth2-authz-server/src/AuthorizationService.js",
    "!**/gpii/node_modules/gpii-oauth2/gpii-oauth2-authz-server/src/ClientService.js",
    "!**/gpii/node_modules/gpii-oauth2/gpii-oauth2-authz-server/src/CodeGenerator.js",
    "!**/gpii/node_modules/gpii-oauth2/gpii-oauth2-datastore/index.js",
    "!**/gpii/node_modules/gpii-oauth2/gpii-oauth2-datastore/src/DataSource-pouchDB.js",
    "!**/gpii/node_modules/gpii-oauth2/gpii-oauth2-datastore/src/DataStore.js",
    "!**/gpii/node_modules/gpii-oauth2/gpii-oauth2-datastore/src/DbDataStore.js",
    "!**/gpii/node_modules/gpii-oauth2/gpii-oauth2-datastore/src/DbDataStoreUtils.js",
    "!**/gpii/node_modules/gpii-oauth2/gpii-oauth2-utilities/index.js",
    "!**/gpii/node_modules/gpii-oauth2/gpii-oauth2-utilities/src/OAuth2Const.js",
    "!**/gpii/node_modules/gpii-oauth2/gpii-oauth2-utilities/src/OAuth2Express.js",
    "!**/gpii/node_modules/gpii-oauth2/gpii-oauth2-utilities/src/OAuth2Utilities.js",
    "!**/gpii/node_modules/gpii-oauth2/index.js",
    "!**/gpii/node_modules/journal/index.js",
    "!**/gpii/node_modules/journal/src/Journal.js",
    "!**/gpii/node_modules/journal/src/JournalIdParser.js",
    "!**/gpii/node_modules/journal/src/SettingsDir.js",
    "!**/gpii/node_modules/lifecycleActions/index.js",
    "!**/gpii/node_modules/lifecycleActions/src/LifecycleActions.js",
    "!**/gpii/node_modules/lifecycleManager/index.js",
    "!**/gpii/node_modules/lifecycleManager/src/DynamicComponentIndexer.js",
    "!**/gpii/node_modules/lifecycleManager/src/LifecycleManager.js",
    "!**/gpii/node_modules/lifecycleManager/src/LifecycleManagerSession.js",
    "!**/gpii/node_modules/lifecycleManager/src/Resolvers.js",
    "!**/gpii/node_modules/matchMakerFramework/index.js",
    "!**/gpii/node_modules/matchMakerFramework/src/MatchMakerFramework.js",
    "!**/gpii/node_modules/matchMakerFramework/src/MatchMakerUtilities.js",
    "!**/gpii/node_modules/ontologyHandler/index.js",
    "!**/gpii/node_modules/ontologyHandler/src/ontologyHandler.js",
    "!**/gpii/node_modules/ontologyHandler/src/ontologyHandlerUtilities.js",
    "!**/gpii/node_modules/pouchManager/index.js",
    "!**/gpii/node_modules/pouchManager/src/pouchManager.js",
    "!**/gpii/node_modules/preferencesServer/index.js",
    "!**/gpii/node_modules/preferencesServer/src/preferencesGetHandler.js",
    "!**/gpii/node_modules/preferencesServer/src/preferencesPostHandler.js",
    "!**/gpii/node_modules/preferencesServer/src/preferencesPutHandler.js",
    "!**/gpii/node_modules/preferencesServer/src/preferencesServer.js",
    "!**/gpii/node_modules/processReporter/index.js",
    "!**/gpii/node_modules/processReporter/src/ProcessReporter.js",
    "!**/gpii/node_modules/processReporter/src/processesBridge.js",
    "!**/gpii/node_modules/rawPreferencesServer/index.js",
    "!**/gpii/node_modules/rawPreferencesServer/src/rawPreferencesServer.js",
    "!**/gpii/node_modules/settingsHandlers/index.js",
    "!**/gpii/node_modules/settingsHandlers/src/INISettingsHandler.js",
    "!**/gpii/node_modules/settingsHandlers/src/JSONSettingsHandler.js",
    "!**/gpii/node_modules/settingsHandlers/src/NoSettingsHandler.js",
    "!**/gpii/node_modules/settingsHandlers/src/WebSocketsSettingsHandler.js",
    "!**/gpii/node_modules/settingsHandlers/src/XMLSettingsHandler.js",
    "!**/gpii/node_modules/settingsHandlers/src/settingsHandlerUtilities.js",
    "!**/gpii/node_modules/singleInstance/index.js",
    "!**/gpii/node_modules/singleInstance/src/singleInstance.js",
    "!**/gpii/node_modules/transformer/index.js",
    "!**/gpii/node_modules/transformer/src/js/Transformer.js",
	"!**/gpii/node_modules/testing/index.js",
	"!**/gpii/node_modules/testing/src/PouchTestCaseHolder.js",
	"!**/gpii/node_modules/testing/src/Acceptance.js",
	"!**/gpii/node_modules/testing/src/CloudBasedOAuth2TestsUtils.js",
	"!**/gpii/node_modules/testing/src/BrowserIncludes.js",
	"!**/gpii/node_modules/testing/src/NockUtils.js",
	"!**/gpii/node_modules/testing/src/Testing.js",
	"!**/gpii/node_modules/testing/src/CloudBased.js",
	"!**/gpii/node_modules/testing/src/Mocks.js",
	"!**/gpii/node_modules/testing/src/Integration.js",
    "testData",
    "tests",
    "reports",
    "coverage",
    "instrumented",
    ".nyc_output",
    "**/browserify/**",
    "scripts",
    "examples",
    "gpii.js",
    "Gruntfile.js"
  ],
  "reporter": "none",
  "report-dir": "reports",
  "temp-directory": "coverage",
  "clean": false
}